@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Matemasie&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
    box-sizing: content-box;
    overflow: hidden;
    background-color: #ccc;
    color: white;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Matemasie", sans-serif;
}

.game {
    width: 100%;
    height: 100vh;
    margin: 0;   
    background-image: url(../img/cachipun.jpg);
}

.number-of-games{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.buttons {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
}

.choice, .start {
    width: 20%;
    border: 1px solid black;
    background-color: #333;
    color: wheat;
    font-size: 24px;
    padding: 20px;
    border-radius: 25px;
}

.results{
    width: 100%;
    height: 33%;
}